body {
    padding: 0 ;
    margin: 0;
}
#map { 
    height: 100vh; 
    width: 100%;}

button {
    position: absolute;
    bottom:0;
    left:0;
    z-index: 999;
}

#locations {
    position: absolute;
    top:0;
    right:0;
    display: flex;
    flex-flow: row nowrap;
    z-index: 999;
}

span {
    color: black
}

img {
    max-width: 301px;
    max-height: 314px;
}